.App > .sidebar {
  background: #777;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: #2da139 solid 0.7em;
}

.dashboard > .charts {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
/* 
.App > .sidebar > .sidebar-nav {
  height: 400px;
} */

.App > .container {
  height: 100vh;
  overflow: scroll;
}
.App > .container .nav-tabs {
  margin-bottom: 1em;
}
.report-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1em;
}
.top-bar {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
}
.details-header {
  text-align: right;
}
.report-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2em;
  grid-auto-rows: 1fr;
}
.report-list a {
  text-decoration: none;
}
.report-list-item {
  font-size: 0.85em;
  border: 1px #ddd solid;
  border-radius: 0.5em;
}
.report-list-item:hover {
  border: 0.15em #2da139 solid;
  transition: 150ms ease-in all;
}
.report-list-item > .card-body {
  color: #292d31;
  list-style-type: none;
}
.report-list-item > .card-body > ul {
  background: #000;
}
.report-list-item > .card-body > li {
  display: flex;
  justify-content: space-between;
}
/* React Animation */
/* .fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
} */
.fade-enter {
  opacity: 0.01;
  /* transform: scale(0.9) translateY(50%); */
}
.fade-enter-active {
  opacity: 1;
  /* transform: scale(1) translateY(0%); */
  transition: all 600ms ease-out;
}
.fade-exit {
  opacity: 1;
  /* transform: scale(1) translateY(0%); */
}
.fade-exit-active {
  opacity: 0;
  /* transform: scale(0.9) translateY(50%); */
  transition: all 300ms ease-out;
}
/* *::-webkit-scrollbar,
*::-webkit-scrollbar-thumb {
  display: none;
} */
.text-bold {
  font-weight: bold;
}

.amount {
  letter-spacing: 0.075em;
}
.sidebar-nav > a {
  color: white;
  font-size: 1.5em;
  top: -100px;
}
#side-bar-period-name {
  color: #2da139;
  text-transform: uppercase;
  font-size: 2em;
  /* font-weight: bold; */
}
