.App > .sidebar {
  background: #777;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: #2da139 solid 0.7em;
}

.dashboard > .charts {
  display: grid;
  grid-template-columns: 1fr 1fr;
}


.App > .container {
  height: 100vh;
  overflow: scroll;
}
.App > .container .nav-tabs {
  margin-bottom: 1em;
}
.report-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1em;
}
.top-bar {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
}
.details-header {
  text-align: right;
}
.report-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2em;
  grid-auto-rows: 1fr;
}
.report-list a {
  text-decoration: none;
}
.report-list-item {
  /* font-size: 0.85em; */
  border: 1px #ddd solid;
  border-radius: 0.5em;
}
.report-list-item:hover {
  border: 0.15em #2da139 solid;
  transition: 150ms ease-in all;
}
.report-list-item > .card-body {
  color: #292d31;
  list-style-type: none;
}
.report-list-item > .card-body > ul {
  background: #000;
}
.report-list-item > .card-body > li {
  display: flex;
  justify-content: space-between;
}

.fade-enter {
  opacity: 0.01;
}
.fade-enter-active {
  opacity: 1;
  transition: all 600ms ease-out;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: all 300ms ease-out;
}
*::-webkit-scrollbar,
*::-webkit-scrollbar-thumb {
  display: none;
}
.text-bold {
  font-weight: bold;
}

.amount {
  letter-spacing: 0.075em;
}
.sidebar-nav > a {
  color: white;
  font-size: 1.5em;
  top: -100px;
}
#side-bar-period-name {
  color: #2da139;
  text-transform: uppercase;
  font-size: 2em;
  /* font-weight: bold; */
}
.export-toolbar {
  margin-bottom: 1em;
}

@media print {
*{
  /* background: transparent !important; */
  color: #000  !important;
  box-shadow: none  !important;
  text-shadow: none  !important;
  font-size: 12pt;
}

  .App > .sidebar,
  .export-toolbar,
  .top-bar,
  .report-header button,
  .ncoa-details-filter-form
  {
    display: none;
  }
  .App > .container {
  height: auto;
  overflow: none;
}
  a{
    text-decoration: none !important;
  }
  .ncoa-row-sum {
   font-size: 14pt;
  }
}